@charset "UTF-8";

#home-section img {
	width: 100px;
	height: 100px;
}

body {
	padding-left: 20px;
	padding-right: 20px;
}

header .navbar .greeting {
/* 	float: right; */
}

input.error {
	background: darkred;	
}

input.error
::after {
	content: "Mot de passe invalide."
}

span.user-email {
	font-size: 80%;
	font-style: italic;
}